name: IBMCloud Volume VPC

on:
  push:
    branches:
      - master
    tags:
      - "v[1-9]+.[0-9]+.[0-9]+*"
  pull_request:
    branches:
      - master

# Cancel older runs on the same pull request
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write # needed to push to gh-pages
      pull-requests: write # needed to comment on PRs
    strategy:
      matrix:
        go-version: ["1.23.10", "stable"]
      fail-fast: false

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
          check-latest: true
          cache: true

      - name: Install Go dependencies
        run: make deps

      - name: Set up Go workspace
        run: |
          mkdir -p $(go env GOPATH)/src/github.com/IBM/ibmcloud-volume-vpc
          rsync -az . $(go env GOPATH)/src/github.com/IBM/ibmcloud-volume-vpc
        env:
          GOPATH: ${{ runner.temp }}/go

      - name: Run formatting check
        run: make fmt

      - name: Run static analysis
        run: make vet

      - name: Run tests
        run: make test

      - name: Generate coverage
        run: make coverage && touch "Passing" || touch "Failed"

      - name: Publish coverage
        if: success() && matrix.go-version == 'stable'
        env:
          GHE_TOKEN: ${{ secrets.GHE_TOKEN }}
          GHE_USER: github-actions # required for git clone URL in script
        run: |
          ./scripts/publishCoverage.sh
